fastapi>=0.100.1
uvicorn>=0.23.2
sqlalchemy>=2.0.23
pymysql>=1.1.1
cryptography>=41.0.7
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1,<4.1.0
python-multipart>=0.0.9
pydantic>=1.10.14,<2.0.0
websockets>=11.0.3
alembic>=1.12.1
firebase-admin>=6.5.0
requests>=2.31.0
python-dotenv>=1.0.1
psycopg2-binary>=2.9.9
